body {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
}
.slider__container {
    margin-top: 5vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.slider__container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.slider__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 40%;
    height: 340px;
    font-size: 1.5rem;
    font-weight: 300;
    background-image: url('images/pattern-quotes.svg');
    background-position: top;
    background-size: 6rem;
    background-repeat: no-repeat;
    margin-left: 50px;
}
.slider__text span {
    font-weight: 700;
    font-size: 1rem;
}
.slider__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('images/pattern-bg.svg');
    background-size: cover;
    width: 520px;
    height: 480px;
    padding-bottom: 25px;
    padding-right: 15px;
}
.slider__img img {
   
    width: 420px;
    height: 420px;
    margin-top: 70px;
}
.button {
    width:30%;
}
.curve {
    background-image: url('images/pattern-curve.svg');
}

.slider__container-2 {
    display: none;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }