body {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
}
.slider__container {
    margin-top: 5vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider__container-1 {
    position: relative;
    width: 90vw;
}
.slider__text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 50%;
    height: 340px;
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 5.5rem;
    margin-left: 50px;
}
.slider__text img {
    position: relative;
    top: 2rem;
    left: 6rem;
    width: 100px;
}
.slider__text p {
    margin: 10px;
    color: hsl(240, 38%, 20%);
}
.slider__text span {
    font-weight: 700;
    font-size: 1rem;
}
#span-text {
    font-size: 1rem;
    font-weight: 500;
    color: hsl(240, 18%, 77%);
}
.slider__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('images/pattern-bg.svg');
    background-size: cover;
    width: 520px;
    height: 480px;
    padding-bottom: 25px;
    padding-right: 15px;
    margin-left: 39vw;
}
.slider__img img {
    width: 420px;
    height: 420px;
    margin-top: 70px;
    box-shadow: 1px 8px 35px -27px hsl(240, 38%, 20%);
}
.button {
    width:60px;
}
.curve {
    background-image: url('images/pattern-curve.svg');
}

.slider__container-2 {
    display: none;
}
button {
    width:100px;
    height: 30px;
}
.button button {
    background-color: white;
    display: flex;
    margin: 0;
    border-radius: 15px;
    border: 0px;
}
.button img {
    width: 1rem;
    height: 1rem;
    margin-top: 0px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }